<<<<<<< HEAD
body{
    font-family: 'Raleway', sans-serif !important;
    position: relative !important;
=======
body {
  font-family: 'Raleway', sans-serif;
  position: relative;
>>>>>>> servicios
}

#fondo {
  background-image: url('../images/bgt.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

/* Fondo degradado con transparencia*/
/*body:before{
    content: "";
    width: 100%;
    height: 300vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #52c4ff, #ad55c1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
}*/

<<<<<<< HEAD
#header {
  background: #304998;
}

#header button {
  color: green;
=======
#header{
    /*background: #304998;*/
}

.fondo-navbar{
    background: #3430B0;;
>>>>>>> navbar
}

/*
#header #info{
    color: white;
}

#header #info:hover{
    transition: ease 0.2s;
    color: rgb(180, 180, 180);
}*/

.top-nav-collapse{
    background: #304998 !important;
}

.shadow{
    box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

/*=========== NAVBAR ============*/
.btn-outline-light:hover{
    color: black !important;
}

/*========= ENCABEZADO SECCIONES =====*/
#subtitulo {
  color: black;
}

#titulo {
  font-weight: bold;
  color: black;
}

<<<<<<< HEAD
.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

=======
>>>>>>> navbar
/*=============== CAROUSEL =============*/
.carousel-inner img {
  height: 95vh;
}

<<<<<<< HEAD
.main.carousel {
  height: 100vh;
  margin-bottom: 0;
=======
.sectionCarousel.carousel{
    height: 100vh;
    margin-bottom: 0;
>>>>>>> navbar
}

.sectionCarousel{
    height: 100vh;
}

/*================= SERVICIOS ===========*/
#servicios img {
  padding-top: 20px;
  width: 45%;
  max-height: 170px;
  display: block;
  margin: auto;
}

#servicios #relleno {
  /*background: rgb(241, 255, 255);*/
  /*border: none;*/
  text-align: justify;
}

#servicios #relleno h4 {
  font-weight: bold;
  text-align: center;
}

#servicios #relleno h5 {
  font-weight: bold;
  text-align: center;
}

#servicios .tarjeta {
  max-height: 315px;
  /*box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);*/
}

/*#servicios #relleno a{
    text-decoration: none;
    color: black;
}

#servicios #relleno:hover{
    cursor: pointer;
}*/

/*==================== BANNER ================*/
#banner img {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.banner_img {
  position: relative;
  display: inline-block;
}

.texto_banner {
  position: absolute;
  top: 35%;
  color: white;
}

.texto_banner_des {
  position: absolute;
  top: 48%;
  color: white;
}

.bg-btn-somos{
    background: #306FB0;
    color: white !important;
}

.bg-btn-somos:hover{
    background: #2D89A6;
}

/*================= JUEGOS =============*/
.juegos__columna {
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.8);
}

.juegos__descripcion {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  height: 100%;

  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.juegos__descripcion_izquierda {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  width: 60%;
  height: 100%;

  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.juegos__titulo {
  font-size: 30px;
  margin: 5px 0;
  text-align: left;
}

.juegos__img {
  width: 100%;
}

.juegos__txt {
  text-align: justify;
  font-size: 12px;
}

.btn-juegos {
  background: blue;
  color: white;
}

.btn-juegos:hover {
  background-color: rgb(76, 76, 250);
}

.bg-btn-juegos{
    background: #306FB0;
    color: white !important;
}

.bg-btn-juegos:hover{
    background: #2D89A6;
}

@media(min-width:480px) {}

@media(min-width:990px) {
  .juegos__titulo {
    font-size: 40px;
  }

  .juegos__txt {
    font-size: 15px;
  }
}

/*======== BOLETIN INFORMATIVO =============*/
#boletin {
  background: white;
  /*box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.8);*/
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important;
}

/*.boletin button{
    background-color: rgb(168, 0, 22);
    color: white;
}*/

/* ================ RESEÑAS ===============*/
#reseñas .contenedor_reseña {
  background-color: white;
  padding: 20px;
  text-align: justify;
  /*box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.8);*/
}

#reseñas #texto_reseña {
  border-left: 5px solid gray;
  padding-left: 8px;
  font-style: italic;
}

#reseñas #usuario_reseña {
  font-size: 60px;
  font-weight: 100;
  color: black;
  text-decoration: none;
}

#reseñas #nombre_usuario_reseña {
  padding-top: 45px;
}

/*================= CONTACTANOS ============*/
<<<<<<< HEAD
.map-container {
  width: 50%;
}

#area_mensaje {
  height: 200px;
=======
#area_mensaje{
    height: 200px;
>>>>>>> navbar
}

/*==================== FOOTER ==============*/
#footer {
  background: #304998;
  color: white;
  text-align: justify;
}

#footer hr {
  background: white;
}

#footer #info {
  text-decoration: none;
  color: white;
}

#footer #info:hover {
  transition: ease 0.2s;
  color: rgb(180, 180, 180);
}

#footer #redes {
  color: white;
  font-size: 25px;
  background-color: #19348f;
  text-decoration: none;
  padding: 8px;
  border-radius: 50px;
}

#footer #redes:hover {
  transition: ease 0.2s;
  background-color: white;
  color: #19348f;
}

#footer .esconder {
  background: rgb(48, 72, 152);
}

#reservado {
  text-align: center;
  font-size: 12px;
}

/* =============================================================*/
/*================ PAGINA PREGUNTAS FRECUENTES =================*/
#separador {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* =============================================================*/
/* ==================== PAGINA QUIENES SOMOS ===================*/
.quienes_somos,
.mision,
.vision {
  background: white;
  padding: 20px;
  padding-bottom: 0;
  margin: 10px auto;
  text-align: justify;
}

.quienes_somos {
  margin-top: 57px;
  padding-top: 0;
}

.mision {
  margin-bottom: 57px;
}

/* =============================================================*/
/* ================ PAGINA CATALOGO DE JUEGOS ==================*/
<<<<<<< HEAD
#catalogo img {
  width: 100%;
  max-height: 415px;
=======
#catalogo a{
    text-transform: none;
    padding: 5px 12px 5px 12px;
}

#catalogo a:hover{
    color: black !important;
    background-color: white !important;
}

#catalogo img{
    width: 100%;
    max-height: 415px;
>>>>>>> navbar
}

#catalogo .item_catalogo {
  position: relative;
  overflow: hidden;
}

#catalogo .imagen_catalogo {
  transition: all 0.5s;
}

#catalogo .descripcion_catalogo {
  position: absolute;
  bottom: 0;
  padding: 20px;

  background: rgba(0, 0, 0, 0.7);
  color: white;

  transform: translateY(100%);
  transition: all 0.3s ease-out;
}

#catalogo .descripcion_catalogo p {
  text-align: justify;
}

#catalogo .item_catalogo:hover .descripcion_catalogo {
  transform: translateY(0%);
}

#catalogo .item_catalogo:hover .imagen_catalogo {
  transform: scale(1.15);
}

/*=====================================================*/
/*================ PAGINA POLITICAS ===================*/
#politicas .cuerpo {
  text-align: justify;
  /*border: 1px solid black;*/
}

/*=====================================================*/
/*========= PAGINA TERMINOS Y CONDICIONES =============*/
#terminos .cuerpo {
  text-align: justify;
  /*border: 1px solid black;*/
}

.text-blue {
  color: #304998;
}

.service-banner {
  align-items: center;
  display: flex;
  justify-content: center;
  background: url('../images/carousel-1.jpg') 100% 100% fixed;
  padding: 1rem;
  height: 426px;
}

.service-card,
.service-card > .row {
  min-height: 235px;
}

.service-img {
  height: 100%;
  object-fit: cover;
}
